.highlight {
  background: #fff;
  border: 0;
  padding: 0;
  margin-bottom: 1.7rem;

  // Comment styles
  .c, .cm, .c1, .cp, .cs {
    color: #999988;
    font-style: italic;
  }
  
  // Error styles
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  // Keyword styles
  .k, .o, .kc, .kd, .kp, .kr, .kt, .gs, .ow {
    font-weight: bold;
  }

  // Generic styles
  .gd, .gi, .ge, .gr, .gh, .go, .gp, .gu, .gt {
    color: #000000; // default color for generic
  }

  .gd { background-color: #ffdddd; }
  .gd .x { background-color: #ffaaaa; }
  .gi { background-color: #ddffdd; }
  .gi .x { background-color: #aaffaa; }
  
  // Name styles
  .na, .no, .nb, .nc, .ni, .nn, .nt, .nv, .vc, .vg, .vi {
    color: #008080;
  }

  .ne, .nf { 
    color: #990000; 
    font-weight: bold; 
  }

  // Literal styles
  .m, .mf, .mh, .mi, .mo, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .il {
    color: #009999;
  }

  // String styles
  .s { color: #d14; }
  
  // Other styles
  .w { color: #bbbbbb; }
  .gt { color: #aa0000; }
}

// Table styles
td.rouge-code {
  width: 100%;
}

// Preformatted line numbers
pre.lineno {
  color: #9999;
}
