<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes' name='viewport' />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ site.url }}{{ page.url }}"/>
    <!-- SEO Meta Tags -->
    <meta name="description" content="{{ page.description | truncate: 150 }}">
    <meta name="keywords" content="{{ page.keywords | join: ', ' }}">
    <meta name="author" content="{{ page.author }}">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | truncate: 150 }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/{{ page.image }}">
    <meta property="og:image:alt" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description | truncate: 150 }}">
    <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
    <meta name="twitter:image:alt" content="{{ page.title }}">
    <meta name="twitter:site" content="{{ site.x }}">
    <meta name="twitter:creator" content="{{ site.x }}">
    <!-- Canonical Tag -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.url }}/feed.xml">
    <!-- Bootstrap (CSS) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <!-- The Blaze Times (CSS) -->
    <link href="{{ site.url }}/assets/css/screen.css" rel="stylesheet" />
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet" />
    <!-- dns-prefetch -->
    <link rel="dns-prefetch" href='//www.theblazetimes.in' />
    <link rel="dns-prefetch" href='//disqus.com' />
    <link rel="dns-prefetch" href="//gstatic.com" />
    <link rel='dns-prefetch' href='//www.googletagmanager.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//pagead2.googlesyndication.com' />
    {% if site.adsense == "enabled" %}
    <!-- Google AdSense Code -->
    {% include adsbygoogle.html %}
    {% endif %}
    {% if jekyll.environment == 'production' %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', '{{site.google_analytics}}');
    </script>
    {% endif %}
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- JSON-LD Schema Markup -->

    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "NewsMediaOrganization",
        "@id": "{{ site.url }}/#NewsMediaOrganization",
        "name": "{{ site.name | default: 'Default Site Name' }}",
        "url": "{{ site.url | default: 'https://www.example.com' }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.logo | default: 'https://www.example.com/default-logo.jpg' }}",
          "width": "600",
          "height": "60"
        },
        "sameAs": [
          "{{ site.facebook | default: 'https://www.facebook.com/default' }}",
          "{{ site.x | default: 'https://twitter.com/default' }}"
        ]
      },
      {
        "@type": "WebSite",
        "@id": "{{ site.url }}/#WebSite",
        "name": "{{ site.name | default: 'Default WebSite Name' }}",
        "url": "{{ site.url | default: 'https://www.example.com' }}",
        "isPartOf": {
          "@id": "{{ site.url }}/#NewsMediaOrganization"
        },
        "inLanguage": "en"
      },
      {
        "@type": "WebPage",
        "@id": "{{ site.url }}{{ page.url}}#WebPage",
        "name": "{{ page.title | default: 'Default Page Title' }}",
        "url": "{{ site.url }}{{ page.url | default: '/default-url' }}",
        "description": "{{ page.description | default: 'Default Description' }}",
        "datePublished": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S+05:30' | default: '2020-01-01T00:00:00' }}",
        "dateModified": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S+05:30' | default: '2020-01-01T00:00:00' }}",
        "primaryImageOfPage": {
          "@id": "{{ site.url }}/{{ page.image | default: '/default-page-image.jpg' }}#PrimaryImage"
        },
        "isPartOf": {
          "@id": "{{ site.url }}/#NewsMediaOrganization"
        },
        "inLanguage": "en",
        "breadcrumb": {
          "@id": "{{ site.url }}{{ page.url | default: '/default-url' }}#Breadcrumb"
        }
      },
      {
        "@type": "BreadcrumbList",
        "@id": "{{ site.url }}{{ page.url | default: '/default-url' }}#Breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ site.url }}",
              "name": "Home"
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "{{ site.url }}{{ page.url | default: '/default-url' }}",
              "name": "{{ page.title | default: 'Default Page Title' }}"
            }
          }
        ]
      },
      {
        "@type": "NewsArticle",
        "keywords": "{{ page.keywords }}",
        "headline": "{{ page.title | default: 'Default Article Title' }}",
        "image": {
          "@id": "{{ site.url }}/{{ page.image | default: '/default-article-image.jpg' }}#NewsArticleImage"
        },
        "datePublished": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S+05:30' | default: '2020-01-01T00:00:00' }}",
        "dateModified": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S+05:30' | default: '2020-01-01T00:00:00' }}",
        "author": {
          "@type": "Person",
          "name": "{{ page.author | default: 'Anonymous' }}",
          "url": "{{ page.author_url | default: 'https://www.example.com/default-author' }}"
        },
        "publisher": {
          "@id": "{{ site.url }}/#organization"
        },
        "inLanguage": "en",
        "mainEntityOfPage": {
          "@id": "{{ site.url }}{{ page.url }}#Article"
        },
        "url": "{{ site.url }}{{ page.url }}",
        "description": "{{ page.description | default: 'Default Article Description' }}"
      },
      {
        "@type": "ImageObject",
        "@id": "{{ site.url }}{{ page.image | default: '/default-article-image.jpg' }}#Image",
        "url": "{{ site.url }}{{ page.image | default: '/default-article-image.jpg' }}",
        "caption": "{{ page.title | default: 'Default Image Caption' }} - Featured Image",
        "width": "1980",
        "height": "1080"
      },
      {
        "@type": "Person",
        "@id": "{{ site.url }}/#Person",
        "name": "{{ page.author | default: 'Anonymous' }}",
        "url": "{{ page.author_url | default: 'https://www.example.com/default-author' }}",
        "image": {
          "@type": "ImageObject",
          "url": "https://www.gravatar.com/avatar/{{ page.gravatar }}?s=250&d=mm&r=x",
          "caption": "{{ page.author }}",
          "width": "250",
          "height": "250"
        },
        "sameAs": [
          "{{ site.facebook | default: 'https://www.facebook.com/default-author' }}",
          "{{ site.x | default: 'https://twitter.com/default-author' }}"
        ],
        "jobTitle": "{{ page.author_job_title | default: 'Writer' }}",
        "worksFor": {
          "@id": "{{ site.url }}/#NewsMediaOrganization"
        }
      }
    ]
  }
</script>

    
  </head>
  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
  <body class="{{layout}}">
    <!-- Defer loading of font and font awesome -->
    <noscript id="deferred-styles">
      <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
        rel="stylesheet" />
      <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous" />
    </noscript>
    <!-- Begin Menu Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
      <div class="container pr-0">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.url }}" >{{ site.title }}</a>
        <!-- End Logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarMediumish" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarMediumish">
          <!-- Begin Menu -->
          <ul class="navbar-nav ml-auto">
            {% if page.url == "/" %}
            <li class="nav-item active">
              {% else %}
            <li class="nav-item">
              {% endif %}
              <a class="nav-link" href="{{ site.url }}/index.html">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ site.url }}/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ site.url }}/contact">Contact</a></li>
            <li class="nav-item"><a target="_blank" class="nav-link" href="{{ site.url }}/privacy-policy">Privacy Policy</a></li>
            <li class="nav-item"><a target="_blank" class="nav-link" href="{{ site.url }}/disclaimer">Disclaimer</a></li>
            <li class="nav-item"><a target="_blank" class="nav-link" href="{{ site.url }}/terms-and-conditions">Terms and Conditions</a></li>
            {% include search-lunr.html %}
          </ul>
          <!-- End Menu -->
        </div>
      </div>
    </nav>
    <!-- End Navigation -->
    <div class="site-content">
      <div class="container">
        <!-- Site Title -->
        <div class="mainheading">
          <h2 class="sitetitle">{{ site.name }}</h2>
          <p class="lead">{{ site.description }}</p>
        </div>
        <!-- Content -->
        <div class="main-content">
          {{ content }}
        </div>
        {% if site.mailchimp-list %}
        <!-- Bottom Alert Bar -->
        <div class="alertbar">
          <div class="container text-center">
            <span>Never miss a <b>story</b> from us, subscribe to our newsletter</span>
            <form action="{{site.mailchimp-list}}" method="post"
              name="mc-embedded-subscribe-form" class="wj-contact-form validate"
              target="_blank" novalidate>
              <div class="mc-field-group">
                <input type="email" placeholder="Email" name="EMAIL"
                  class="required email" id="mce-EMAIL" autocomplete="on" required />
                <input type="submit" value="Subscribe" name="subscribe" class="heart" />
              </div>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
      <!-- Categories Jumbotron -->
      <div class="jumbotron fortags">
        <div class="d-md-flex h-100">
          <div class="col-md-4 transpdark align-self-center text-center h-100">
            <div class="d-md-flex align-items-center justify-content-center h-100">
              <h2 class="d-md-block align-self-center py-1 font-weight-light">Explore <span class="d-none d-md-inline">→</span></h2>
            </div>
          </div>
          <div class="col-md-8 p-5 align-self-center text-center">
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
            <a class="mt-1 mb-1" href="{{site.url}}/categories#{{ category | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a>
            {% endfor %}
            {% else %}
            {% for category in categories_list %}
            <a class="mt-1 mb-1" href="{{site.url}}/categories#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a>
            {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">Copyright © {{ site.time | date: "%Y" }} {{ site.name }}</div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">Developed By It Is Unique Official</div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
    <!-- /.site-content -->
    <!-- Scripts -->
    <script src="{{ site.url }}/assets/js/mediumish.js"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha256-WHwIASWxNdKakx7TceUP/BqWQYMcEIfeLNdFMoFfRWA=" crossorigin="anonymous"></script>
    <!-- Bootstrap (JS) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=" crossorigin="anonymous"></script>
    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.url }}/assets/js/lazyload.js"></script>
    {% endif %}
    <script src="{{ site.url }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% if page.layout == 'post' %}
    <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
    {% endif %}
  </body>
</html>
